<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Videocall System</title>

    <link rel="stylesheet" href="{{url_for('static',filename='styles/main.css')}}">

    <style>
        body {
            background-color: #151f3a;
        }

        div.container {
            display: flex;
        }

        img.proctor {
            width: 75%;
            border-radius: .5em;
            box-shadow: 6px 10px 33px 9px rgba(0, 0, 0, 0.43);
        }

        .exampleFeo {
            margin: 0;
            background-color: bisque;
        }

        .div-contenedor-usuario {

            display: inline-block;

            margin-top: 10px;
            margin-left: 40px;
            margin-right: 0px;
            margin-bottom: 20px;

            font-weight: bold;
            font-size: 1.5em;
        }

        .div-compannero {

            display: inline-block;
            vertical-align: top;
            margin-top: 10px;
            margin-left: 20px;
            margin-right: 0px;
            margin-bottom: 20px;

            font-weight: bold;
            font-size: 1em;
        }

        .boton-alerta {
            border-width: 2px;
            border-radius: 120px;
            border-color: #5B032A;
            background-color: #FED3F8;
            color: #890740;
            width: 45px;
            height: 45px;
            font-size: 2em;
        }

        .boton-bien {
            border-width: 2px;
            border-radius: 120px;
            border-color: #00641F;
            background-color: #3D9558;
            color: #FCFFD9;
            width: 45px;
            height: 45px;
            font-size: 1.5em;
        }

        .combobox {
            min-width: 150px;
            max-width: 200px;
        }
    </style>
    <script>
        function accion() {
            alert("madafaka! ")
        }    
    </script>

</head>

<body class="exampleFeo">

    <h1 class="example">Videostreaming Monitor System</h1>

    <button class="boton-alerta">!</button>
    <button class="boton-bien">✔</button>

    <div id="divCamaras">
    </div>

    <p></p>
    <a>Usuarios Conectados: </a>
    <select id="select-contenedor-usuarios" class="combobox" name="usuarios" onChange="accion">


    </select>
    <p></p>

    <div class="div-contenedor-usuario">
        <a id="obj-a-carnet">Carnet: N/A</a>
        <p></p>
        <a id="obj-a-nombre">Nombre: N/A</a>
        <p></p>
        <img id="obj-img-est" />
        <a></a>
        <div class="div-compannero">
            <a id="obj-a-numpersonas">Numero de Personas: </a>
            <p></p>
            <a id="obj-a-numrostros">Numero de Rostros: </a>
            <p></p>
            <a id="obj-a-identidad">Alerta de identidad: </a>
            <p></p>
            <a id="obj-a-boca">Movimiento de labios: </a>
            <p></p>
            <a id="obj-a-ayudante">Alerta de ayudante: </a>
            <p></p>
            <a id="obj-a-tlfndetect">Tlfn. Detectado: </a>
            <p></p>
            <a id="obj-a-compdetect">Computador Detectado: </a>
            <p></p>
            <a id="obj-a-dirmirada">Dirección Mirada: </a>
            <p></p>
            <a id="obj-a-timemirada">Tiempo observando a esa dirección: </a>
        </div>
    </div>


    <div id='div-contenedor-historico'>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src=""></script>
    <script>

        var numeroConectados = 0
        var usuariosData = new Map()
        var usuariosConectados = []
        var carnet = null
        var nombre = null
        var carnetUsuarioActual = null

        //Variables Alertas
        var identidad = ""
        var boca = ""
        var ayudante = ""
        var telefono = ""
        var computador = ""

        //Objetos JAVASCRIPT
        //datos usuario e imagen principal
        var selectListaUsuario = document.getElementById("select-contenedor-usuarios")
        var imageContenedor = document.getElementById("obj-img-est")
        var textoCarnet = document.getElementById("obj-a-carnet")
        var textoNombre = document.getElementById("obj-a-nombre")

        //alertas real-time
        var textoNumPersonas = document.getElementById("obj-a-numpersonas")
        var textoNumRostros = document.getElementById("obj-a-numrostros")
        var textoAlertaIdentidad = document.getElementById("obj-a-identidad")
        var textoMovimientoBoca = document.getElementById("obj-a-boca")
        var textoAlertaAyudante = document.getElementById("obj-a-ayudante")
        var textoTlfnDetectado = document.getElementById("obj-a-tlfndetect")
        var textoCompDetectado = document.getElementById("obj-a-compdetect")
        var textoDireccionMirada = document.getElementById("obj-a-dirmirada")
        var textoTimeMirada = document.getElementById("obj-a-timemirada")

        //historico de alertas
        var divHistoricoAlertas = document.getElementById("div-contenedor-historico")
        //var capa = document.getElementById("divCamaras")

        const socket = io()
        socket.on('connect', () => {
            console.log("Conectado!")
            socket.emit('join', socket.id)
        })


        // -----------------------------------------------------------------------------------------------------
        // ------------------------------ GET IMAGE AND REAL-TIME ALERTS FROM SERVER ---------------------------
        socket.on('dataWeb', (msg) => {

            //console.log(msg)

            if (usuariosConectados.indexOf(msg.id) == -1) {//Si entra un usuario con un id desconocido

                console.log("Sistema: Nuevo usuario " + msg.id)

                //Ajustes en objetos y variables luego de recibir un nuevo usuario
                numeroConectados = numeroConectados + 1
                nombre = msg.nombre
                carnet = msg.carnet

                usuariosConectados.push(msg.id)
                /*                 usuariosData.push({
                                    'id': numeroConectados,
                                    'id_cliente': msg.id,
                                    'carnet': carnet,
                                    'nombre': nombre
                                }) */

                usuariosData.set(carnet, {
                    'id': numeroConectados,
                    'id_cliente': msg.id,
                    'nombre': nombre
                })

                //Se actualiza lista de usuarios en el HTML
                var opcion = document.createElement("option")
                opcion.setAttribute("id", carnet)//Se envia carnet como id de la etiqueta
                opcion.innerHTML = numeroConectados + " - " + nombre
                opcion.onclick = (nombre) => (
                    alert("Hey! " + nombre)
                )
                selectListaUsuario.appendChild(opcion)

                if (carnetUsuarioActual == null) {

                    //console.log(msg)
                    //Cambios en la seleccion de usuario
                    imageContenedor.src = msg.img
                    carnet = msg.carnet
                    nombre = msg.nombre
                    textoCarnet.innerText = "Carnet: " + carnet
                    textoNombre.innerText = "Nombre: " + nombre

                    //Comienzan a cambiar las alertas
                    textoNumPersonas.innerText = "Numero de Personas: " + msg.numberPeople

                    textoNumRostros.innerText = "Numero de Rostros: " + msg.numberFaces

                    if (msg.identity == 1) {
                        identidad = "Irregularidad"
                    } else {
                        identidad = "Sin inconvenientes"
                    }
                    textoAlertaIdentidad.innerText = "Detector de identidad: " + identidad

                    if (msg.mounthMovement == 1) {
                        boca = "En movimiento"
                    } else {
                        boca = "Sin movimiento"
                    }
                    textoMovimientoBoca.innerText = "Movimiento de labios: " + boca

                    if (msg.helpers == 1) {
                        ayudante = "Irregularidad"
                    } else {
                        ayudante = "Normal"
                    }
                    textoAlertaAyudante.innerText = "Alerta de ayudante: " + ayudante

                    if (msg.phoneDetected == 1) {
                        telefono = "Si"
                    } else {
                        telefono = "No"
                    }
                    textoTlfnDetectado.innerText = "Tlfn. Detectado: " + telefono

                    if (msg.laptopDetected == 1) {
                        computador = "Si"
                    } else {
                        computador = "No"
                    }
                    textoCompDetectado.innerText = "Computador Detectado: " + computador

                    textoDireccionMirada.innerText = "Dirección Mirada: " + msg.gaze[0]

                    textoTimeMirada.innerText = "Tiempo observando a esa dirección: " + msg.gaze[1]

                    //Actualización usuario Actual
                    carnetUsuarioActual = carnet

                }

                //console.log(usuariosData)

            } else {//Si se recibe informacion de un id conocido

                carnetUsuarioActual = selectListaUsuario.options[selectListaUsuario.selectedIndex].id

                if (msg.carnet == carnetUsuarioActual) {//Actualizar solo si es el usuario seleccionado

                    //console.log(msg)

                    imageContenedor.src = msg.img

                    textoNumPersonas.innerText = "Numero de Personas: " + msg.numberPeople

                    textoNumRostros.innerText = "Numero de Rostros: " + msg.numberFaces

                    if (msg.identity == 1) {
                        identidad = "Irregularidad"
                    } else {
                        identidad = "Sin inconvenientes"
                    }
                    textoAlertaIdentidad.innerText = "Detector de identidad: " + identidad

                    if (msg.mounthMovement == 1) {
                        boca = "En movimiento"
                    } else {
                        boca = "Sin movimiento"
                    }
                    textoMovimientoBoca.innerText = "Movimiento de labios: " + boca

                    if (msg.helpers == 1) {
                        ayudante = "Irregularidad"
                    } else {
                        ayudante = "Normal"
                    }
                    textoAlertaAyudante.innerText = "Alerta de ayudante: " + ayudante

                    if (msg.phoneDetected == 1) {
                        telefono = "Si"
                    } else {
                        telefono = "No"
                    }
                    textoTlfnDetectado.innerText = "Tlfn. Detectado: " + telefono

                    if (msg.laptopDetected == 1) {
                        computador = "Si"
                    } else {
                        computador = "No"
                    }
                    textoCompDetectado.innerText = "Computador Detectado: " + computador

                    textoDireccionMirada.innerText = "Dirección Mirada: " + msg.gaze[0]

                    textoTimeMirada.innerText = "Tiempo observando a esa dirección: " + msg.gaze[1]

                }
                //console.log(msg)

                //console.log(selectListaUsuario.options[selectListaUsuario.selectedIndex].id)

            }

        })
        //-----------------------------------------------------------------------------------------
        //----------------------END GET IMAGE AND REAL-TIME ALERTS FROM SERVER---------------------    

        //-------------------------- GET HISTORIC ALERTS WITH FRAME -------------------------------


        socket.on('historicAlert', (msg) => {
            var divAlerta = document.createElement('div')

            var imgAlerta = document.createElement('img')
            imgAlerta.src = msg.img

            var divAlertaTexto = document.createElement('div')
            divAlertaTexto.setAttribute("class", 'div-compannero')

            var textoAlerta = document.createElement('a')
            textoAlerta.innerText = msg.alert

            divAlerta.appendChild(imgAlerta)
            divAlertaTexto.appendChild(textoAlerta)
            divAlerta.appendChild(divAlertaTexto)
            divHistoricoAlertas.appendChild(divAlerta)

            console.log("--------------")
            console.log("HISTORIC ALERT:")
            console.log(msg)
        })

    </script>
</body>