@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;0,900;1,100;1,300;1,600&display=swap');
body{
    background-color: rgb(46, 77, 109);
    font-family: 'Poppins', sans-serif;
    color: #fff;
    }

*{
    box-sizing: border-box;
}

.div-contenedor-usuario{
    padding: 2% 2.5%;
}

#obj-a-nombre{
    font-size: 30px;
    font-weight: bolder;
}

#obj-a-carnet{
    font-size: 25px;
    font-weight: bold;
}

#obj-img-est{
    width: 750px;
    height: 440px;
    border: 2px solid white;
}
    
.div-compannero{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: bold;
    width: 100px;
    height: 435px;
    justify-content: space-between;
    gap: 1px 10px;
    position:relative;
    bottom: 444px;
    left: 4px;
    padding: 19px 12px 18px 8px;
    background-color: rgba(60, 60, 60, 0.67);
}

.dashboard{
    display: flex;
    width: 100%;
}

.alerts{
    padding: 3.5% 0;
}

#div-contenedor-historico{
    align-self: center;
    width: 600px;
    height: 446px;
    border: 3px solid #FBF8BE;
    border-radius: 3px;
    overflow: scroll;
}

select{
    font-size: 15px;
    padding: 5px;
    background-color: rgba(237, 237, 237, 0 );
    border-radius: 5px;
    border: 3px solid #FBF8BE;
    font-family: "Poppins", sans-serif;
    color:white;
}

.filter{
    font-size: 25px;
    font-weight: bold;
}

.separator{
    width: 10px;
    height: 10px;
}

.div-contenedor-historico img{
    width: 10px;
}

.alerta-imagen{
    width: 30%;
}